@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;0,900;1,300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box !important;
}

body {
  overflow-y: auto;
  overflow-x: hidden;
  width: 100vw;
}

html {
  font-size: 10px;
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
}

footer {
  background-color: #1b242f;
  color: white;
  font-size: 2.5rem;
}

p {
  font-size: 1.7rem;
}

section h2 {
  font-size: 3rem;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}

.header {
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  padding: 1rem;
  width: 100vw;
  border-radius: 1rem;
}
.header h1 {
  font-size: 2.9rem;
  font-weight: 400;
}
.header span {
  color: #d22d80;
}
.header a {
  color: white;
  text-decoration: none;
}
.header a:visited {
  color: white;
}

.header-work-link {
  margin-top: 2rem;
  font-size: 2.3rem;
  padding: 0.5rem;
  border: 0.3rem solid white;
  cursor: pointer;
  width: 60%;
  transition: background-color 0.4s;
}
.header-work-link i {
  font-size: 2.5rem;
  margin-left: 2rem;
  transition: all 0.4s;
}
.header-work-link:hover {
  background-color: #05c2c9;
  border-color: #05c2c9;
}
.header-work-link:hover i {
  transform: rotate(90deg);
}
.header-work-link:hover a {
  text-decoration: none;
}

#bootstrap-overrides .navbar {
  background-color: #252934;
  padding: 1rem;
  z-index: 30;
  border-bottom: 0.5rem solid #05c2c9;
  transition: top 1s linear;
}

#bootstrap-overrides .navbar span {
  color: white !important;
}

#bootstrap-overrides .navbar a {
  color: white;
  font-size: 1.6rem;
  margin-right: 1.5rem;
  transition: all 0.3s;
}
#bootstrap-overrides .navbar a:hover {
  color: #d22d80;
}

.portfolio {
  padding-top: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5;
}

.portfolio-project {
  margin-bottom: 3rem;
  /* max-height: 100%;
  min-height: 100%;
  height: 100%; */
}

.portfolio h2 {
  text-transform: uppercase;
  color: #1b242f;
}

.portfolio-img-container {
  display: flex;
  margin-top: 3rem;
  flex-direction: column;
  flex-direction: space-between;
  width: 80%;
  height: 100%;
}
.portfolio-img-container img {
  height: 250px;
  width: 100%;
}
.portfolio-img-container h3 {
  font-size: 2.3rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
/* .portfolio-img-container p {
  font-size: 1.7rem;
} */

.project-content {
  border: 1px solid lightgrey;
  padding: 30px;
  border-radius: 0 0 1rem 1rem;
}

.icons-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
  font-size: 3rem;
  margin-top: 1rem;
}
.icons-container img {
  width: 5rem;
  height: 5rem;
  margin-left: -0.5rem;
  /* margin-right: 2rem; */
  margin-bottom: 2rem;
}

.project-link-wrap {
  width: 90%;
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}
.project-link-wrap button {
  font-size: 1.4rem;
}

.project-link {
  color: white;
  font-size: 1.2rem;
  padding: 1rem;
  border-radius: 1rem;
  border: 2px solid black;
}
.project-link a {
  text-decoration: none;
}
.project-link a:visited {
  color: white;
}

.project-link-wrap button {
  background-color: #252934;
  color: white;
  transition: all 0.3s;
}
.project-link-wrap button:hover {
  color: #252934;
  border-color: 1rem solid #252934;
  background-color: white;
}
.project-link-wrap button a {
  color: white;
  text-decoration: none;
}
project-link-wrap button a:visited {
  color: white;
}
.project-link-wrap button a:hover {
  color: #252934;
}

.about {
  /* background-color: ; */
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 5rem;
}
.about h2 {
  text-transform: uppercase;
  margin-bottom: 3rem;
}
.about h4 {
  font-size: 2rem;
  margin-bottom: 2rem;
}
.about h4 span {
  color: #d22d80;
}

.about-content {
  text-align: center;
  width: 80%;
}
.about-content button {
  font-size: 2rem;
  padding: 1rem;
  width: 70%;
  margin-top: 1.5rem;
}

.about-content img {
  height: 250px;
  width: 250px;
  border-radius: 1rem;
  margin-bottom: 3rem;
}

.about-content-text button {
  background-color: #252934;
  color: white;
  transition: all 0.3s;
}
.about-content-text button:hover {
  color: #252934;
  border-color: 1rem solid #252934;
  background-color: white;
}

.about-content-text a {
  color: white;
  text-decoration: none;
}
.about-content-text a:visited {
  color: white;
}
.about-content-text a:hover {
  color: #252934;
  text-decoration: none;
}

.skills {
  /* background-color: #252934; */
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 2rem;
  padding-bottom: 3rem;
  position: relative;
}

.skills-content {
  width: 90%;
  text-align: center;
}
.skills-content p {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.contact {
  color: white;
  background-color: #252934;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 3rem;
  padding-bottom: 3rem;
}
.contact p {
  text-align: center;
}
.contact form {
  width: 80%;
}
.contact form input {
  font-size: 1.4rem;
}
.contact form label {
  font-size: 1.5rem;
}
.contact button {
  font-size: 1.7rem;
  padding: 1rem;
  width: 15rem;
  margin-top: 1.5rem;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 4rem;
  width: 90%;
}

.footer-social {
  text-align: center;
  background-color: #5a6268;
  width: 5rem;
  transition: all 0.3s;
}
.footer-social i {
  padding: 1rem;
}

.footer-social:hover {
  background-color: #d22d80;
}

.footer-social a {
  color: white;
  text-decoration: none;
}
.footer-social a:visited {
  color: white;
}
.footer-social a:hover {
  color: white;
}

.go-up {
  background-color: #d22d80;
  width: 5rem;
  text-align: center;
  margin-top: 2rem;
}
.go-up i {
  font-size: 3.5rem;
  padding: 1rem;
}
.go-up a {
  color: white;
}
.go-up a:visited {
  color: white;
}
.go-up a:hover {
  color: white;
}
